.sell__item {
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

.title {
    font-size: 15px;
    padding: 50px;
}

.label {
    display: block;
    padding-top: 20px;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
}

h2 {
    text-align: left;
    color: #808080;
    padding-top: 20px;
    padding-bottom: 10px;
}


.sell__image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px;
    overflow: hidden;
    border: 1px dashed #808080;
    /* グレーの点線 */
    border-radius: 4px;
    position: relative;
    background-color: #fff;
    margin-bottom: 20px;
}

#upload-text {
    display: inline-block;
    padding: 10px 30px;
    border: 2px solid #ff6666;
    border-radius: 10px;
    color: #ff6666;
    font-weight: bold;
    font-size: 14px;
    background-color: #fff;
    cursor: pointer;
}

#preview-container {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    overflow: hidden;
}

#preview-container img {
    max-width: 95%;
    max-height: 95%;
    object-fit: contain;
    display: block;
}

.image__input {
    display: none;
}

.item__category {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    margin: 15px 0;
    padding: 0;
}

.category-wrapper {
    display: block;
    margin: 0;
    padding: 0;

}

.checkbox {
    display: none;
    padding-top: 5px;
}

.item__checkbox {
    display: inline-block;
    padding: 8px 16px;
    font-size: 12px;
    border: 1px solid #ff6666;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s;
    background-color: #fff;
    color: #ff6666;
}

.checkbox:checked+.item__checkbox {
    background-color: #ff6666;
    color: #fff;
    border-color: #ff6666;
}

.button,
.input {
    font-size: 20px;
    border-radius: 3px;
    width: 100%;
    padding: 5px;
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.label {
    display: block;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 5px;
}

.sell__item-condition {
    padding-top: 30px;
    padding-bottom: 30px;
}

.form-control {
    width: 100%;
    height: 40px;
}

.input_text {
    width: 100%;
    height: 40px;
    font-size: 15px;
}

.textarea {
    width: 100%;
}



.input_price {
    width: 100%;
    padding: 7px 10px 10px 20px;
    height: 40px;
    font-size: 15px;
}

.price-input-container {
    position: relative;
    width: 100%;
}

.currency-symbol {
    /* ￥マークをabsoluteで浮かせて販売価格のボックスと重ねて￥から始まる入力欄の様に見せています */
    position: absolute;
    font-size: 15px;
    font-weight: bold;
    padding-left: 2px;
    padding-top: 7px;
}

.error {
    text-align: left;
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 0.8rem;
    color: red;
    min-height: 1em;
}

.button {
    background-color: #ff6666;
    color: #ffffff;
    border: none;
}

.sell__button {
    padding-bottom: 60px;
}

/* タブレット (768-850px) */
/* max-width を850に設定しても850pxでタブレットに切り替わらないので、余裕をもって860pxに設定してます */
@media screen and (max-width: 860px) {

    .sell__item {
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }

    .sell__item-condition {
        padding-top: 30px;
        padding-bottom: 20px;
    }

    .label {
        display: block;
        text-align: left;
        font-size: 20px;
        font-weight: bold;
        padding-bottom: 16px;
    }
}