* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1540px !important;
    margin: 0 auto !important;
}

body {
    margin: 0;
    padding: 0;
}

.header {
    background-color: black;
    padding: 20px 20px;
}

.header__inner {
    max-width: 1540px;
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo img {
    max-width: 400px;
    width: 100%;
    height: auto;
    margin-left: 10px;
    margin-right: 20px;
}

.register,
.login {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.title {
    font-size: 15px;
    padding: 50px;
}

.button,
.input {
    font-size: 20px;
    border-radius: 3px;
    width: 100%;
    padding: 5px;
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.label {
    display: block;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
}

.input {
    border: 1px solid #808080;
}

.error {
    text-align: left;
    margin-top: -8px;
    margin-bottom: 10px;
    font-size: 0.8rem;
}

.button__container {
    padding: 50px 0px 10px 0px;
}

.button {
    background-color: #ff6666;
    color: #ffffff;
    border: none;
}

.rink {
    font-size: 10;
    color: #007DC5;
    text-decoration: none;
}

/* タブレット (768-850px) */
/* max-width を850に設定しても850pxでタブレットに切り替わらないので、余裕をもって860pxに設定してます */
@media screen and (max-width: 860px) {


    .header__logo img {
        max-width: 170px;
    }
}

